:root {
  --accent-color-1: white;
  --accent-color-2: rgb(255, 17, 17);
  --accent-color-3: #05ff00;
  --accent-color-4: black;
  --accent-color-5: rgb(250, 250, 250);
  --accent-background: linear-gradient(
    to right,
    rgb(255, 2, 2),
    rgb(17, 132, 255),
    rgb(6, 126, 44)
  );
  --font-size-1: 16px;
  --font-size-2: 14px;
  --button-border-radius: 0px;
  --image-border-radius: 10px;
  --product-border-radius: 10px;
  --grid-column-gap: 10px;
  --grid-row-gap: 20px;
  --gradient-color-1: #662d8c;
  --gradient-color-2: #ed1e79;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial;
  padding-top: 68px;
}
header {
  display: grid;
  grid-template-columns: 155px 1fr max-content;
  border: 1px solid var(--accent-color-2);
  padding: 14px 10px;

  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}
.error-container {
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.error-message {
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  min-width: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color-1);
  color: var(--accent-color-4);
  padding: 40px;
  border: 5px solid black;
  border-radius: 20px;
}
.header-title {
  font-size: 25px;
}
.title-accent-colour {
  color: var(--accent-color-2);
  /* background: var(--accent-background); */
  /* background-clip: text; */
  /* color: transparent; */
}
.right-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
}
.link-style {
  color: var(--accent-color-4);
  text-decoration: none;
}
.header-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin-right: 10px;
}
.header-link {
  font-size: var(--font-size-1);
  font-weight: bold;
  margin: 0px 10px;
  color: var(--accent-color-4);
  text-decoration: none;
  cursor: pointer;
}
.cart-link {
  position: relative;
}
.cart-num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -8px;
  right: -5px;
  border-radius: 8px;
  /* width: 15px;
  height: 15px; */
  padding: 1px;
  color: white;
  font-size: 12px;
  background-color: red;
}
.header-button1 {
  position: relative;
  background: none;
  font-size: var(--font-size-2);
  font-weight: bold;
  border: 2px solid var(--accent-color-3);
  border-radius: var(--button-border-radius);
  padding: 7px 16px;
  margin-right: 5px;
  cursor: pointer;
}
.header-button1::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--accent-color-3);
  width: 100%;
  height: 100%;
  transform-origin: 0%;
  transform: scaleX(0%);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.header-button1:hover::before {
  transform: scaleX(100%);
}
.header-button1:active {
  background: var(--accent-color-1);
  color: var(--accent-color-4);
}
.header-button2 {
  position: relative;
  font-size: var(--font-size-2);
  font-weight: bold;
  /* background-color: var(--accent-color-3); */
  background: transparent;
  border: 2px solid var(--accent-color-3);
  border-radius: var(--button-border-radius);
  padding: 7px 17px;
  cursor: pointer;
}
.header-button2::after {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--accent-color-3);
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  z-index: -2;
}
.header-button2::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background: var(--accent-color-1);
  width: 100%;
  height: 100%;
  transform-origin: 0%;
  transform: scaleX(0%);
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
  z-index: -1;
}
.header-button2:hover::before {
  transform: scaleX(100%);
}
.header-button2:active::before {
  background-color: var(--accent-color-3);
}
.site-setting {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  background-color: var(--accent-color-4);
  color: var(--accent-color-1);
  margin-bottom: 20px;
}
.site-setting p {
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}
.site-setting select {
  background-color: var(--accent-color-4);
  color: var(--accent-color-1);
  margin: 0px 5px;
  border: none;
  cursor: pointer;
}
.site-setting-select-container {
  white-space: nowrap;
}
@media (max-width: 695px) {
  .header-link {
    display: none;
  }
}
.banner-section {
  display: flex;
  justify-content: center;
}
.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 96vw;
}
.double-banner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1vw;
}

.men-banner,
.women-banner {
  position: relative;
  width: 47.5vw;
  max-height: 210px;
  min-height: 100%;
  object-fit: cover;
  object-position: center;
}
.dark {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 210px;
}
.dark::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.dark:hover::after {
  opacity: 0;
}
.banner-text {
  position: absolute;
  /* text-align: center; */
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-shadow: 10px 10px 5px black;
  transition: color 0.5s, text-shadow 0.5s, opacity 0.3s;
  z-index: 4;
}
.dark:hover .banner-text {
  /* color: black;
  text-shadow: 10px 10px 5px white; */
  opacity: 0;
}
.kids-banner {
  width: 96vw;
  max-height: 210px;
  object-fit: cover;
  object-position: center;
}
.products-section {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
}
.products-section-header {
  background: linear-gradient(
    to right,
    var(--gradient-color-1),
    var(--gradient-color-2)
  );
  margin: 10px 0px;
  padding: 20px 0px;
  text-align: center;
  border: 2px solid black;
}
.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: var(--grid-column-gap);
  row-gap: var(--grid-row-gap);
}
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  /* width: 0; */
  padding: 5px 10px;
  border: 3px solid var(--accent-color-4);
  border-radius: var(--product-border-radius);
  /* overflow: hidden; */
}
.product-card::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    var(--gradient-color-2),
    var(--gradient-color-1)
  );
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s;
}
.product-card:hover::after {
  opacity: 1;
}
.product-card-image-container {
  display: flex;
  justify-content: center;
}
.product-card-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  object-position: center;
}
.product-card-name {
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.product-price-container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-price-container img {
  width: 80px;
}
.product-quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px;
}
.product-quantity-paragraph {
  /*just for nothing also*/
  display: block;
}
.product-card-counter {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.minus-btn,
.plus-btn {
  width: 20px;
  height: 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: var(--accent-color-1);
  color: var(--accent-color-4);
  border: 2px solid black;
  border-radius: 5px;
  /* background: transparent;
  border: none;
  cursor: pointer; */
  transition: background-color 0.15s, color 0.15s;
}
.minus-btn:hover,
.plus-btn:hover {
  background-color: #ddd;
}
.minus-btn:active,
.plus-btn:active {
  background-color: var(--accent-color-4);
  color: var(--accent-color-1);
}
.product-counter-num {
  display: flex;
  align-items: center;
  padding: 0px 5px;
}
.add-to-cart-container {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}
.add-to-cart-button {
  background: rgb(0, 0, 0);
  color: var(--accent-color-1);
  border: 2px solid black;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  padding: 6px 15px;
  transition: background-color 0.15s, color 0.15s;
}
.add-to-cart-button:hover {
  background-color: #333;
  /* opacity: 0.8; */
}
.add-to-cart-button:active {
  background-color: var(--accent-color-1);
  color: var(--accent-color-4);
}
@media (max-width: 1200px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (max-width: 960px) {
  .products-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 725px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}
footer {
  background-color: var(--accent-color-4);
}
.main-footer {
  display: flex;
  justify-content: space-between;
  margin: 100px 0px 0px 0px;
  padding: 40px;
}
.partners-header,
.social-media-header {
  margin: 0px 0px 10%;
  color: var(--accent-color-5);
}
.social-media-header {
  text-align: end;
}
.partners-identity-container {
  padding-left: 30px;
  border-left: 5px solid var(--accent-color-5);
}
.social-media-container {
  padding-right: 30px;
  border-right: 5px solid var(--accent-color-5);
}
.partners-identity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  max-width: 340px;
}
.social-media-icons {
  display: flex;
  justify-content: space-between;
  width: 30vw;
  max-width: 340px;
}
.footer-info {
  text-align: center;
  color: var(--accent-color-5);
  padding-bottom: 40px;
}
@media (max-width: 580px) {
  .remove {
    display: none;
  }
}
